div{
    text-align: center;
    font-family: sans-serif;
    border-radius: 5px;
    width:200px;
}

.semesterCol{
    border: 3px;
    height: 500px;
    background-color: coral;
    float: left;
}


.semesterCol button {
    margin: 1% 0;
    color: black;
    background-color: tomato;
    padding: 15px 20px;
    width: 100%;
    border:none;
    border-radius: 15px;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
}

.semesterCol button:hover {
    background-color: tomato;
    border-left: 6px solid antiquewhite;
    border-radius-top-left:0px;
    border-radius-top-right: 0px;
    transition:0.3s;
}

.semesterCol button:active{
    border: none;
    background-color: antiquewhite;
    width: 100%;
    transition: 0.5s;
    border-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.courseCol button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
}
.courseCol{
    border-right: 6px;
    background-color: antiquewhite;
    float: left;
}


.courseCol button:hover {
    background-color: rgb(185, 174, 159);
    border-left: 6px solid red;
    transition:0.3s;
}



