body{
    margin: unset;
}

.gadesTable {
    width: 100%;
}

.gradesTable div{
    text-align: center;
    font-family: sans-serif;
    width:25%;
    height: 1000px;
    float: left;
}

button{
    margin:2px;
    text-align: left;
    padding: 13px 10px;
    width: 400%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.button:active{
    float: left;
    transition: 0.3s;
    border-radius: 4px;
    border-right:none;
}

.button:hover{
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;

}

/****************** Semester Colum ******************/

.semesterCol{
    background-color: #ff6f00;
    float: left;
}

.semesterCol button {
    background-color: #ff5722;
    border-color: #ff5722;
}

.semesterCol button:hover {
    background-color: #ff5722;
    border-right: 10px solid #ffa000;
    transition:0.3s;

}

.semesterCol button:active{
    background-color: #ffa000;

}


/****************** Courses Column ******************/

.courseCol{
    background-color: #ffa000;
}

.courseCol button {
    background-color: #ff8f00;
    border-color: #ff8f00;
}

.courseCol button:hover {
    background-color: #ff8f00;
    border-right: 10px solid #ffb300;
    transition:0.3s;
}

.courseCol button:active {
    background-color: #ffb300;
}


/****************** Category Column ******************/

.categoryCol{
    background-color: #ffb300;
}

.categoryCol button{
    background-color: #ffa000;
    border-color: #ffa000;
}

.categoryCol button:hover{
    border-right: 10px solid #ffc107;
}

.categoryCol button:active{
    background-color: #ffc107;
}


/****************** Sub Category Column ******************/

.subCategoryCol{
    background-color: #ffc107;
}

.subCategoryCol button{
    background-color: #ffd54f;
    border-color:#ffd54f;
}