body{
    margin: unset;
}

div {
    text-align: center;
    font-family: sans-serif;
    width:200px;
    height:500px;
    float: left;
}

button{
    margin:2px;
    text-align: left;
    padding: 10px 10px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.button:active{
    float: left;
    transition: 0.3s;
    border-radius: 4px;
    border-right:none;
}

.button:hover{
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;

}

.semesterCol{
    background-color: coral;
    float: left;
}

.semesterCol button {
    background-color: tomato;
    border-color: tomato;
}

.semesterCol button:hover {
    background-color: tomato;
    border-right: 10px solid antiquewhite;
    transition:0.3s;

}

.semesterCol button:active{
    background-color: antiquewhite;

}


.courseCol{
    border-right: 6px;
    background-color: antiquewhite;
}

.courseCol button {
    background-color: gainsboro;
    border-color: gainsboro;
}

.courseCol button:hover {
    background-color: gainsboro;
    border-right: 10px solid blue;
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;
    transition:0.3s;
}

.courseCol button:active {
    background-color: blue;
}



